@font-face {
  font-family: "iconfont"; /* Project id 4913693 */
  src: url('iconfont.woff2?t=1746591067234') format('woff2'),
       url('iconfont.woff?t=1746591067234') format('woff'),
       url('iconfont.ttf?t=1746591067234') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bc:before {
  content: "\e633";
}

.icon-huayuanyangfang:before {
  content: "\e62c";
}

.icon-shoutibao:before {
  content: "\e62e";
}

.icon-kefu:before {
  content: "\e692";
}

.icon-daifukuan:before {
  content: "\e653";
}

.icon-icon_address:before {
  content: "\e61d";
}

.icon-shezhi:before {
  content: "\e646";
}

.icon-coupons:before {
  content: "\e67e";
}

.icon-sousuo:before {
  content: "\e6b0";
}

.icon-meirongxiangmu:before {
  content: "\e612";
}

.icon-yueyeche:before {
  content: "\e601";
}

.icon-flathouse:before {
  content: "\e751";
}

.icon-car:before {
  content: "\e670";
}

.icon-new2-19bieshu:before {
  content: "\e71e";
}

.icon-VIP-big:before {
  content: "\e600";
}

.icon-morentu:before {
  content: "\e743";
}

.icon-kefu1:before {
  content: "\e816";
}

.icon-daifahuo:before {
  content: "\e704";
}

.icon-xiaoqiche-heise:before {
  content: "\e71f";
}

.icon-jifenmingxi_jifenchouka:before {
  content: "\e60d";
}

.icon-a-ziyuan15:before {
  content: "\e607";
}

.icon-yibanyiwanchengwanjie:before {
  content: "\e61b";
}

.icon-cash:before {
  content: "\e73d";
}

.icon-avatar:before {
  content: "\e658";
}

